.Fate-Table-SBS {
        
        .row {
            display: flex;
            margin-left:-5px;
            margin-right:-5px;
            padding: 1px;
            margin: 1px;
            font-family: "Ubuntu", serif;

        }

        .column {
            flex: 50%;
            padding: 5px;
            min-height: 100px;
            overflow: hidden;
        }

        .column-slim {
            flex: 50%;
            padding: 1px;
            margin: 1px;
            min-height: 15px;
            overflow: hidden;
        }

        .column-big {
            flex: 50%;
            padding: 1px;
            margin: 1px;
            min-height: 150px;
            overflow: hidden;
        }

        .column-border-small-dark {
            border-style: solid;
            border-color:#000;
            border-width: 2px;
        }

    }

    .Fate-Stress-Container {
        display: flex;
    }

    .Fate-Stress-Container > div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }

    .Fate-Stress-Checkbox {
        left: 0;
        background-color: #eee;
        transform: scale(2);
    }



    .Fate-Text-1 {
        
        font-size: 10vw;
        
    }

    .Fate-Text-2 {
        
        font-size: 8vw;
        
    }

    .Fate-Text-3 {
        
        font-size: 6vw;
        
    }

    .Fate-Text-4 {
        
        font-size: 4vw;
        
    }

    .Fate-Text-5 {
        
        font-size: 2vw;
        
    }

    .Fate-Text-6 {
        
        font-size: 1vw;
        
    }

    .Fate-Text-7 {
        
        font-size: 0.5vw;
        
    }

    .Fate-Text-Right {
        text-align: right;
    }

    .Fate-BG-Dark {
        background-color: black;
        color: white;
    }

    .Fate-BG-Light {
        background-color: white;
        color: black;
    }
       
    .Fate-Consequences-1 {
        border-color: #000;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        padding: 2px;
        margin: 2px;
    }

    .Fate-Skills-Cell-Light {
        border-color: #CCC;
        border-style: solid;
        border-width: 2px;
        background-color: #FFF;
        color:#000;
        border-radius: 10px;

    }
    .Fate-Skills-Cell-Disabled {
        border-color: #CCC;
        border-style: solid;
        border-width: 2px;
        background-color: #CCC;
        color:#FFF;
        border-radius: 10px;
    }

	.Fate-Skills-Cell-Header {
        border-color: #CCC;
        border-style: solid;
        border-width: 2px;
        background-color: #FFF;
        color:#FFF;
        border-radius: 2px;
   		font-weight: bold;
      	color: #660033;
    }
